.intro {
  a {
    text-decoration: none;
  }
  z-index: 0;
  width: 100%;
  background: url("../../assets/img/intro-back.png") no-repeat center center;
  background-size: cover;
  position: relative;
  &-back {
    font-family: "Helvetica Neue Medium";
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    background: black;
    color: white;
    height: 200px;
    display: flex;
    span {
      margin: auto;
    }
    @media screen and (max-width: 425px) {
      font-size: 45px;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    &-img {
      margin-top: 100px;
      margin-bottom: 100px;
      align-self: center;
      width: 950px;
      height: 609px;
      @media screen and (max-width: 949px) {
        width: 100%;
      }
      @media screen and (max-width: 775px) {
        margin: 0px;
      }
    }
    &-button {
      display: flex;
      flex-direction: column;
      margin-bottom: 275px;
      &-title {
        font-size: 70px;
        font-family: "Helvetica Neue Medium";
        line-height: 120px;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 425px) {
          line-height: 90px;
        }
        @media screen and (max-width: 425px) {
          font-size: 50px;
          line-height: 60px;
        }
      }
      &-group {
        display: flex;
        margin: 82px auto auto auto;
        font-size: 18px;
        font-family: "Sofia Pro Light";
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        &-gen {
          display: flex;
          color: #f7931e;
          border: 1px #f7931e solid;
          width: 248px;
          height: 60px;
          border-radius: 5px;
          &:hover {
            border-color: black;
            color: black;
            cursor: pointer;
          }
          @media screen and (max-width: 425px) {
            width: 100%;
          }
        }
        &-active {
          background-color: #f7931e;
          color: white;
          &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
          }
        }
        p {
          margin: auto;
        }
        @media screen and (max-width: 425px) {
          display: block;
          margin: 50px 0px 0px 0px;
        }
        a {
          &:nth-child(1) {
            div {
              margin-right: 52px;
              @media screen and (max-width: 425px) {
                margin-right: 0px;
                margin-bottom: 24px;
              }
            }
          }
        }
      }
      @media screen and (max-width: 775px) {
        padding: 5%;
      }
      @media screen and (max-width: 425px) {
        padding: 15px;
        margin-bottom: 200px;
      }
    }
    @media screen and (max-width: 775px) {
      padding: 0;
    }
  }
  &-hide {
    display: none;
  }
}
